// Index

// Header logo & navbar
nav.navbar{
    padding: 0;
    div.container-fluid.hdr{
        #logo {
            margin-top: 5px;
            max-width: 25%;
        }
        div.row{
            width: 100vw;
            div.menu{
                padding: 0;
                ul.navbar-nav{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    li.nav-item.menuitem{
                        padding-inline: 5%; 
                        font-size: 20px;
                        // transform: scale(1);
                        // &:hover {
                        //     transform: scale(1.15);
                        // }
                    }
                    li.nav-item.menuitem--login a{
                        color: #0065fc;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


div.container-fluid.body{
    margin-top: 5rem;
    // background-image: url(../images/fond2.jpg);
    // background-repeat: no-repeat !important;
    // background-size: cover !important;
    // background-position: center;
.bd-highlight {
    // background-color: rgba(133, 133, 133, 0.15);
    // border: 1px solid rgba(86,61,124,0.15);
    height: 30rem;
}
}


// media query 
li.nav-item.menuitem--login{
    @media (max-width:768px) {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}
li.nav-item.menuitem--mainmenu{
    color: #0065fc;
    @media (max-width:768px) {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid lightgray;
        &:hover{
        border-bottom: #0065fc solid 2px;
    }
    }
}
li.nav-item.menuitem--mainmenu{
    color: #0065fc;

    @media (min-width:768px) {
        &:hover{
            border-top: #0065fc solid 2px;
    }
    }
}
li.nav-item.menuitem--login{
    color: #0065fc;

    @media (min-width:768px) {
        &:hover{
            border-top: #0065fc solid 2px;
    }
    }
}

// Index

